.add-item__form {
	display: flex;
	flex-direction: column;
	max-width: 320px;
}

.add-item__submit {
	border-radius: 20px;
	border: solid 1px black;
	padding: 8px;
	max-width: 240px;
	width: 100%;
	cursor: pointer;
	margin: 16px 0px;
}

.add-item__label {
	margin: 8px 0px;
}

.add-item__message {
	text-align: center;
	color: var(--color-pastel-blue);
}
